* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Open Sans", sans-serif;
}

div {
    /* border: 1px solid; */
}

.container {
    width: 1150px;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
}

.row {
    display: flex;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33%;
}

.ml-a {
    margin-left: auto;
}

.pt-55 {
    padding-top: 55px;
}
.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-center{
    text-align: center;
}

.posi-rele {
    position: relative;
}

.posi-ab {
    position: absolute;
}
.line-100 {
    line-height: 100px;
}

.main-menu img {
    vertical-align: middle;
}

.menu ul li a {
    padding: 35px;
    text-decoration: none;
    color: #484f5b;
}

.txt-primary {
    font-size: 55px;
    letter-spacing: 1px;
    color: #484f5b;
    font-weight: 700;
}

#balance-your-body p {
    margin: 70px 0;
    width: 90%;
}

.main-sec {
    padding: 50px;
    margin: 0 51px;
}

.w-100 {
    width: 100%;
}

.header-img {
    width: 500px;
}

.btn-primary {
    padding: 10px 15px;
    background-color: #e6c8c3;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 21px 0;

}

.top-left-head-img {
    position: relative;
    width: 100%;
}

/* .top-left-head-img img{
    position: absolute;
} */
.shape-1 {
    position: absolute;
    width: 95px;
}

.shape-2 {
    position: absolute;
    width: 135px;
}

.shape-3 {
    position: absolute;
    right: 0;
    width: 200px;
}



.shape-dots {
    top: 113px;
    left: 104px;
    width: 115px;
}

#bg-preg-wmn {
    background: url('img/prgntwmn.png');
}

.py-160 {
    padding: 160px 0;
}
.py-80 {
    padding: 80px 0;
}
#bg-preg-wmn h2{
    font-size: 75px;
    letter-spacing: 1px;
    color: #484f5b;
    font-weight: 700;
    font-family: "Open Sans";
    padding-right: 10px;
}
#bg-preg-wmn p{
    width: 561px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #484f5b;
    margin-top:60px ;
    margin-bottom:60px ;
}
.prog-bg-img{
    background: url('img/Brush.png') no-repeat center center;
    padding: 50px 0;
}
.brush-2{
    width: 174px;
}